<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background: transparent;
      font-family: 'Microsoft JHengHei';
      color: white;
      filter: drop-shadow(1px 1px black)
    }
  </style>
</head>
<body>
  <h1>{{title}}</h1>
  <p>{{composer}}</p>
  <script>
    setInterval(() => {
      location.reload()
    }, {{ interval }});
  </script>
</body>
</html>